body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

.board{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 400px;
    width: 400px;

    background-color: lightgrey;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
}

.score{
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    width: 400px;
}

.buttons{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.buttons > button{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 16px;
}